.container{
    display:grid;
    grid-template-columns: 200px 300px 200px; /* la cantidad de valores que ponga serán la cantidad de columnas que tendré */
    grid-template-rows: 100px 120px 100px;

}

.caja{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.caja1{ /*si quiero que este en el medio */
    grid-column: 2/3;
    grid-row: 2/3;
}