.grid-container {
   display: grid;
   grid-template-columns: 200px 1fr;
   grid-template-rows: auto 1fr auto;
   gap: 10px;
}
.flex-menu {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.header, .footer {
   grid-column: 1 / 3;
}
.main {
   grid-column: 2 / 3;
   background-color: white;
   padding: 20px;
}

.header {
  background-color: lightblue;
  padding: 20px;
}

.menu {
  background-color: rgb(243, 153, 153);
  padding: 20px;
}



.footer {
  background-color: lightcoral;
  padding: 20px;
}
