h1 {
    width: 100px;
    height: 30px;
    background-color: yellow;
    padding: 50px 100px 100px ; /* es alejarse alrededor del contenmido para llegar al borde */
    border: 2px dashed black; /*solid es el estilo de borde (tipo de linea) */
    /* para el padding va arriba , al top del navegador, luego, va a la derecha (va en el sentido de las agujas del reloj) y si hay otro valor lo toma, sino usa el mismo valor. Despues va abajo y luego a la izquierda. Si hay un solo valor lo toma para todo. Si pongo 3 valores , el faltante lo iguala con el simetrico (si falta el de la izquierda toma el de la derecha) */
    margin: 80px; /* aleja de cualquier otro elemento */
}

a{
    background-color: orangered;
    padding: 20px; /* es alejarse alrededor del contenmido para llegar al borde */
    border: 2px dashed black; /*solid es el estilo de borde (tipo de linea) */
    background-color: orangered;
    /* Como es un elemento en linea no se aceptan las medidas ancho y alto
     */
    margin-left: 40px; /* deja una sangria, hay varios tipos de Margin */
}

.box {
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 2px solid #333;
  margin: 100px;
}